In [ ]:
import pandas as pd

df=pd.read_csv('scanner_data.csv')

df.info(), df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131706 entries, 0 to 131705
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      131706 non-null  int64
 1   Date            131706 non-null  object
 2   Customer_ID     131706 non-null  int64
 3   Transaction_ID  131706 non-null  int64
 4   SKU_Category    131706 non-null  object
 5   SKU             131706 non-null  object
 6   Quantity        131706 non-null  float64
 7   Sales_Amount    131706 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 8.0+ MB

(None,
    Unnamed: 0        Date  Customer_ID  Transaction_ID SKU_Category    SKU  \
 0           1  02/01/2016         2547               1          X52  0EM7L
 1           2  02/01/2016          822               2          2ML  68BRQ
 2           3  02/01/2016         3686               3          0H2  CZUZX
 3           4  02/01/2016         3719               4          0H2  549KK
 4           5  02/01/2016         9200               5          0H2  K8EHH

    Quantity  Sales_Amount
 0       1.0          3.13
 1       1.0          5.46
 2       1.0          6.35
 3       1.0          5.59
 4       1.0          6.88  )

In [ ]:
# Làm sạch dữ liệu
df_cleaned = df.drop(columns=['Unnamed: 0'])
df_cleaned['Date'] = pd.to_datetime(df_cleaned['Date'], format="%d/%m/%Y")

# Phân tích tổng quan
summary = {
    "Tổng số giao dịch": df_cleaned['Transaction_ID'].nunique(),
    "Tổng số khách hàng": df_cleaned['Customer_ID'].nunique(),
    "Tổng số sản phẩm (SKU)": df_cleaned['SKU'].nunique(),
    "Tổng số danh mục sản phẩm": df_cleaned['SKU_Category'].nunique(),
    "Tổng số lượng bán ra": df_cleaned['Quantity'].sum(),
    "Tổng doanh thu": df_cleaned['Sales_Amount'].sum(),
    "Doanh thu trung bình mỗi giao dịch": df_cleaned.groupby('Transaction_ID')['Sales_Amount'].sum().mean()
}

summary

{'Tổng số giao dịch': 64682,
 'Tổng số khách hàng': 22625,
 'Tổng số sản phẩm (SKU)': 5242,
 'Tổng số danh mục sản phẩm': 187,
 'Tổng số lượng bán ra': np.float64(195624.429),
 'Tổng doanh thu': np.float64(1578038.6199999999),
 'Doanh thu trung bình mỗi giao dịch': np.float64(24.396874246312727)}

In [ ]:
# Chuẩn bị dữ liệu cho các bảng Dimension và Fact

# Bảng DimCustomer
dim_customer = df_cleaned[['Customer_ID']].drop_duplicates()

# Bảng DimProduct
dim_product = df_cleaned[['SKU', 'SKU_Category']].drop_duplicates()

# Bảng DimDate
dim_date = df_cleaned[['Date']].drop_duplicates()
dim_date['Day'] = dim_date['Date'].dt.day
dim_date['Month'] = dim_date['Date'].dt.month
dim_date['Quarter'] = dim_date['Date'].dt.quarter
dim_date['Year'] = dim_date['Date'].dt.year

# Bảng FactSales
fact_sales = df_cleaned[['Transaction_ID', 'Customer_ID', 'SKU', 'Date', 'Quantity', 'Sales_Amount']]

# Hiển thị số lượng bản ghi để tham khảo
{
    "DimCustomer": len(dim_customer),
    "DimProduct": len(dim_product),
    "DimDate": len(dim_date),
    "FactSales": len(fact_sales)
}

{'DimCustomer': 22625, 'DimProduct': 5242, 'DimDate': 363, 'FactSales': 131706}

In [ ]:
# Xuất các bảng ra 4 file CSV để dễ dàng import vào SQL Server
dim_customer.to_csv("DimCustomer.csv", index=False)
dim_product.to_csv("DimProduct.csv", index=False)
dim_date.to_csv("DimDate.csv", index=False)
fact_sales.to_csv("FactSales.csv", index=False)

# Trả về link tải
[
    "✅ File đã sẵn sàng để tải và import vào SQL Server:",
    {"DimCustomer.csv": "DimCustomer.csv"},
    {"DimProduct.csv": "DimProduct.csv"},
    {"DimDate.csv": "DimDate.csv"},
    {"FactSales.csv": "FactSales.csv"}
]

['✅ File đã sẵn sàng để tải và import vào SQL Server:',
 {'DimCustomer.csv': 'DimCustomer.csv'},
 {'DimProduct.csv': 'DimProduct.csv'},
 {'DimDate.csv': 'DimDate.csv'},
 {'FactSales.csv': 'FactSales.csv'}]